<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Add New Airport</title>
</head>
<body>
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <h1>Add New Airport</h1>
        </div>
        <div class="col"></div>
    </div>

    {{#if error}}
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
        </div>
        <div class="col"></div>
    </div>
    {{/if}}
    
     <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col">
            <form action="/add" method="POST">
                <div class="form-group">
                    <label for="airport Name">Airport Code</label>
                    <input type="text" class="form-control" name="code" required>
                    <label for="airport Name">Airport Name</label>
                    <input type="text" class="form-control" name="name" required>
                    <label for="airport Name">City Name</label>
                    <input type="text" class="form-control" name="city" required>
                    <label for="airport Name">Country Code</label>
                    <input type="text" class="form-control" name="country_code" required>
                    <input type="submit" class="btn btn-primary mt-3">
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</body>
</html>