<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="script.js"></script>
    <title>UdChalo Assingment</title>
</head>

<body>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <h1>UdChalo Assingment</h1>
        </div>
        <div class="col"></div>
    </div>
    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col">
            <div class="form-group">
                <input class="form-control" id="searchAirport" style="border-radius: 25px; background-color: #C0C0C0"
                    type="text" placeholder="Enter Airport Name or City or Airport Code" />
            </div>
            <button id="search" style="border-radius: 25px; position: relative;left:40%"
                class="btn btn-secondary">Search</button>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <ul class="mt-5 list-group" id="airportsList">

            </ul>
        </div>
        <div class="col-2"></div>
    </div>
</body>

</html>